.popup__status {
  width: 100%;
  padding: 0 0 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 17px;
}

.popup__status:focus {
  outline-offset: 5px;
  border: none;
}

@media (max-width: 767px) {
  .popup__status {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 45px;
  }
}